<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>About-ProtoR</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="/static/images/site_logo.png" width="100px" height="130px" alt="site logo" class="logo">
            <h3>ProtoR</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col about">
                <h3>About My Dissertation: Promoting Socio-Economic Development Through Technology Adoption</h3><br>
                <p>Welcome to my dissertation project, where I embark on a mission to drive positive change in
                    developing countries through the adoption of technology. As a student pursuing an M.Sc. in Computing
                    (Enterprise Software Systems) at South East Technological University, Waterford, my focus lies in
                    harnessing the power of technology to foster socio-economic development and improve the livelihoods
                    of communities in need.</p><br>
                <p>The motivation behind this project stems from my deep-rooted belief that technology can be a catalyst
                    for progress. I have witnessed firsthand the challenges faced by farmers and communities in
                    developing countries, particularly in the agricultural sector. By creating a proof of concept, I aim
                    to demonstrate how cutting-edge computing methodologies can significantly impact the socio-economic
                    landscape in these regions.</p><br>
                <p>With a focus on agriculture, the backbone of many developing economies, my work centers on developing
                    a novel system for detecting plant diseases in rice crops. By providing an accessible platform for
                    farmers to detect diseases early on, we empower them to take timely action, minimize crop losses,
                    and optimize their agricultural practices.</p>
            </div>
            <div class="col">
                <p>The impact of this dissertation goes beyond academia. It could hold the potential to make a real
                    difference in the lives of farmers, helping them achieve sustainable growth and prosperity. By
                    leveraging technology, we open doors to improved food security, increased crop yields, and enhanced
                    economic opportunities for these communities.</p><br>
                <p>I extend my heartfelt gratitude to my supervisor, faculty, and the university for their unwavering
                    support throughout this journey. Additionally, I thank the communities who have generously
                    contributed their knowledge and insights, making this research truly meaningful.</p><br>
                <p>As I present this proof of concept, I invite you to be part of this impactful endeavor. Together, let
                    us advocate for technology adoption and pave the way for a brighter and more inclusive future for
                    all.

                    Thank you for being part of this significant milestone in my academic journey. With your
                    encouragement and collaboration, we can shape a world where technology bridges the gap and brings
                    prosperity to those who need it most.</p><br>
                <p>Note: This dissertation project is purely academic in nature, and my aim is to contribute knowledge
                    and ideas towards promoting positive change.</p>
            </div>
        </div>
    </div>
</body>

</html>