<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>About-ProtoR</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="/static/images/site_logo.png" width="100px" height="130px" alt="site logo" class="logo">
            <h3>ProtoR</h3>
            <nav>
                <ul>
                    <li><a href="base.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="signup.html">SignUp</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col about">
                <h1>About ProtoR</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac mauris id tellus vestibulum luctus
                    nec non est. Vivamus ultrices laoreet ante, vel lacinia dui gravida eu. Sed id enim euismod,
                    suscipit turpis in, congue nisi. Nullam at mi in turpis mattis hendrerit eget quis nisi. Fusce at
                    tortor vel mauris placerat ultricies a vel massa. Donec tincidunt enim ut nibh ornare, in fermentum
                    nulla elementum. Aliquam efficitur, nisl eu varius bibendum, risus metus commodo odio, vel auctor
                    massa lectus at dolor. Nam sollicitudin augue at finibus vehicula. Vivamus sit amet lacus sit amet
                    ipsum dictum ornare. Praesent aliquam, dolor id venenatis tincidunt, dui ipsum ullamcorper dui, vel
                    faucibus libero elit non dolor.</p>

                <p>Mauris ac diam a leo interdum aliquet. Nulla facilisi. Sed finibus tortor id tellus faucibus, a
                    consectetur nibh aliquam. Sed ut tincidunt arcu. Vivamus ut risus in dui convallis lacinia. Cras
                    euismod, purus vitae fermentum imperdiet, mi tortor suscipit nulla, non tincidunt eros urna at odio.
                    Maecenas a augue aliquet, aliquam enim a, posuere purus. Sed maximus, diam vel vulputate vulputate,
                    metus tortor aliquet justo, vel tristique sapien mi a velit. Ut eu tellus tortor.</p>
            </div>
            <div class="acol">
                <img src="/static/images/Rice_card.jpg" alt="about image" class="aboutimg">
            </div>
        </div>
    </div>
</body>

</html>