<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>ProtR</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <img src="/static/images/site_logo.png" width="100px" height="130px" alt="site logo" class="logo">
            <h3>ProtoR</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/login">Login</a></li>
                    <!-- <li><a href="user.html">user</a></li> -->
                </ul>
            </nav>
        </div>
        <!-- <hr> -->
        <div class="row">
            <div class="col">
                <h1>Rice Plant Disease Detection</h1>
                <p>As an aspiring innovator pursuing an M.Sc. in Computing, my dissertation work focuses on a
                    transformative project aimed at benefiting farmers in developing countries, including my own.
                    Through cutting-edge machine learning algorithms, I am dedicated to developing a state-of-the-art
                    solution for Rice Plant Disease Detection.</p><br>
                <p>The significance of rice in the socio-economic development of developing countries cannot be
                    overstated. However, the devastating impact of plant diseases poses a constant threat to rice crops,
                    leading to significant yield losses for farmers. My mission is to empower these farmers with
                    accessible and affordable technology that can revolutionize disease diagnosis and management.</p>
                <br>
                <p>By simply uploading an image of a rice plant, my system will provide real-time and accurate disease
                    identification. Timely detection enables farmers to implement targeted interventions, minimizing
                    losses, and optimizing crop yield.

                    My goal is to contribute to the betterment of the agricultural sector by harnessing the potential of
                    technology for social good. By making advanced disease detection accessible to small-scale farmers,
                    we can pave the way for sustainable agricultural practices, economic growth, and food security.</p>
                <!-- <button class="btn" type="button" id="learnmore" onclick="window.location.href='/about'">Learn
                    More</button> -->
            </div>
            <div class="col">
                <div class="card card1" onclick="window.location.href='/fungal'">
                    <h5>Fungal Disease</h5><br>
                    <p>Learn about various Rice plant diseases caused by Fungus.</p>
                </div>
                <div class="card card2" onclick="window.location.href='/bacterial'">
                    <h5>Bacterial Disease</h5><br>
                    <p>Learn about various Rice plant diseases caused by Bacteria.</p>
                </div>
                <div class="card card3" onclick="window.location.href='/viral'">
                    <h5>Viral Disease</h5><br>
                    <p>Learn about various Rice plant diseases caused by Virus.</p>
                </div>
                <div class="card card4" onclick="window.location.href='/background'">
                    <h5>Background</h5><br>
                    <p>Learn about the background motivation behind this dissertation.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>