<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="/static/images/site_logo.png" width="100px" height="130px" alt="site logo" class="logo">
            <h3>ProtoR</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
        <h1 class="contacthead1">Connect with me</h1>
        <p class="contacthead1">
            I would love to respond to your queries and suggestions. <br> Please feel free to contact me through the
            following.
        </p>

        <div class="contact-box">
            <div class="contact-left">
                <h3>Send your message</h3>
                <form action="/sendmsg" method="post">
                    <div class="inputrow">
                        <div class="inputgroup">
                            <label for="name">Name</label>
                            <input type="text" name="mname" placeholder="Enter your name">
                        </div>
                        <div class="inputgroup">
                            <label for="phone">Phone Number</label>
                            <input type="tel" name="mphone" placeholder="Enter your phone number">
                        </div>
                    </div>
                    <div class="inputrow">
                        <div class="inputgroup">
                            <label for="email">Email</label>
                            <input type="email" name="memail" placeholder="Enter your E-mail">
                        </div>
                        <div class="inputgroup">
                            <label for="subject">Subject</label>
                            <input type="text" name="msubject" placeholder="Enter your topic">
                        </div>
                    </div>

                    <label for="message">Message</label>
                    <textarea name="mmessage" id="" cols="30" rows="5" placeholder="Enter your message"></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="contact-right">
                <h3>Reach out to me</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>20100850@mail.wit.ie</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>+353 894491098</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</body>

</html>