<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>ProtR-FungalDiseases</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <img src="/static/images/site_logo.png" width="100px" height="130px" alt="site logo" class="logo">
            <h3>ProtoR</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/login">Login</a></li>
                    <!-- <li><a href="user.html">user</a></li> -->
                </ul>
            </nav>
        </div>
        <!-- <hr> -->
        <div class="row">
            <div class="col">
                <h1>Rice Plant - Fungus Infections</h1>
                <p>Fungal diseases in rice plants are a significant concern for farmers worldwide. They can cause
                    devastating losses in crop yield and quality, affecting food security and livelihoods in
                    rice-growing regions. These diseases are caused by various pathogenic fungi that infect different
                    parts of the rice plant, such as leaves, stems, panicles, and roots. Fungal spores can spread
                    through wind, rain, irrigation water, and infected plant debris.</p><br>
                <p>
                    Some common fungal diseases in rice include:
                </p>
                <p>
                    <strong>Blast Disease (Magnaporthe oryzae):</strong> Blast disease is one of the most destructive
                    fungal diseases
                    affecting rice. It can cause severe damage to rice crops in all growth stages. The disease manifests
                    as small, circular lesions on the leaves, stems, and panicles, which eventually turn into
                    diamond-shaped lesions with a gray center and dark borders. Blast disease is favored by warm and
                    humid conditions, and it spreads rapidly during the wet season. Controlling blast disease involves
                    using resistant rice varieties, proper field sanitation, and applying fungicides when necessary.
                </p>

            </div>
            <div class="col">
                <p>
                    <strong>Brown Spot (Bipolaris oryzae):</strong> Brown spot is a common fungal disease that affects
                    rice leaves.
                    Infected plants develop small, oval-shaped lesions with dark brown centers and yellow halos. The
                    disease can spread rapidly during periods of heavy rainfall and high humidity. To control brown
                    spot, farmers can use disease-resistant rice varieties, adopt crop rotation, and avoid dense plant
                    populations.
                </p><br>
                <p>
                    <strong>False Smut (Ustilaginoidea virens):</strong> False smut affects rice panicles, leading to
                    the formation of
                    large, greenish-white spore balls. As the disease progresses, the spore balls turn into dark,
                    powdery masses, negatively impacting grain quality. False smut is favored by high humidity and
                    excessive use of nitrogen fertilizer. Proper fungicide application and seed treatment can help
                    manage false smut.
                </p><br>
                <p>
                    It's essential for farmers to monitor their rice fields regularly for signs of fungal diseases and
                    take timely measures to control their spread. Integrated disease management practices that combine
                    cultural practices, disease-resistant varieties, and judicious use of fungicides can help mitigate
                    the impact of fungal diseases on rice crops.
                </p>
            </div>
        </div>
    </div>

</body>

</html>