<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>ProtR-ViralDiseases</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <img src="/static/images/site_logo.png" width="100px" height="130px" alt="site logo" class="logo">
            <h3>ProtoR</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/login">Login</a></li>
                    <!-- <li><a href="user.html">user</a></li> -->
                </ul>
            </nav>
        </div>
        <!-- <hr> -->
        <div class="row">
            <div class="col">
                <h1>Rice Plant - Viral Infections</h1>
                <p>Viral diseases in rice plants are caused by various types of plant-infecting viruses. These diseases
                    can have a significant impact on rice production and yield reduction, especially in regions where
                    rice is a staple crop. Viral diseases are often transmitted by insect vectors, such as planthoppers
                    and leafhoppers, which feed on infected plants and then transmit the virus to healthy plants.</p>
                <br>
                <p>
                    Some common viral diseases in rice include:
                </p>
                <p>
                    <strong>Rice Tungro Disease:</strong> Rice Tungro disease is one of the most devastating viral
                    diseases affecting rice. It is caused by two viruses: Rice Tungro Bacilliform Virus (RTBV) and Rice
                    Tungro Spherical Virus (RTSV). The disease results in stunting, yellowing of leaves, and reduced
                    grain production. The infected plants may exhibit reddening of the lower leaves. Controlling the
                    insect vectors through insecticides and planting resistant varieties are the primary methods to
                    manage Tungro disease.
                </p>

            </div>
            <div class="col">
                <p>
                    <strong>Rice Grassy Stunt Virus (RGSV):</strong> Rice Grassy Stunt Virus causes stunting and
                    yellowing of the rice plant, along with the formation of grassy shoots (tillers) near the base of
                    the plant. Infected plants may also show purple discoloration of the leaves. This disease is
                    transmitted by the brown planthopper. Use of disease-resistant rice varieties and insecticides to
                    control the vector population are the key strategies for managing RGSV.
                </p><br>
                <p>
                    <strong>Rice Ragged Stunt Virus (RRSV):</strong> Rice Ragged Stunt Virus causes ragged leaf margins
                    and stunted growth in infected plants. The leaves may also exhibit green and yellow stripes. The
                    virus is transmitted by the brown planthopper. Planting virus-resistant rice varieties and adopting
                    proper pest management practices can help in managing RRSV.
                </p><br>
                <p>
                    Effective management of viral diseases in rice involves a combination of cultural practices, use of
                    resistant rice varieties, and targeted control of insect vectors. Early detection of viral symptoms
                    and timely implementation of control measures are crucial for minimizing the impact of viral
                    diseases on rice crops and ensuring food security in rice-growing regions. Additionally, integrated
                    pest management (IPM) strategies can play a vital role in controlling insect vectors and reducing
                    virus transmission.
                </p>
            </div>
        </div>
    </div>

</body>

</html>